[submodule "Carthage/Checkouts/SnapKit"]
	path = Carthage/Checkouts/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "Carthage/Checkouts/SwiftViewModels"]
	path = Carthage/Checkouts/SwiftViewModels
	url = https://github.com/Rep2/SwiftViewModels.git
[submodule "Carthage/Checkouts/Nimble"]
	path = Carthage/Checkouts/Nimble
	url = https://github.com/Quick/Nimble.git
[submodule "Carthage/Checkouts/SwiftTryCatch"]
	path = Carthage/Checkouts/SwiftTryCatch
	url = file:///Users/ivanrep/Projects/Public/SwiftTryCatch
